.container-games{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    .games{
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 10px;
        // margin-top: 20px;
    
        .headline{
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            h3{
                color: #fff;
                font-size: 1.5rem;
            }
    
            a{
                width: 100px;
                height: 40px;
                background-color: #6d6d6d;
                color: #fff;
                border-radius: 7px;
                border: 1px solid #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
            }
        }
    
        .list{
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .list-games{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                row-gap: 30px;
        
                li{
                    width: calc(33.33333% - 30px);
                    list-style: none;   
                    transition: all 0.150s ease-in-out;
                    
                    @media screen and (max-width: 650px) {
                        width: calc(50% - 10px);
                    }
        
                    a{
                        text-decoration: none;
    
                        img{
                            width: 100%;
                            border-radius: 8px;
                            aspect-ratio: 16/9;
                            transition: all 0.150s ease-in-out;
        
                            &:hover{
                                transform: scale(1.05);
                                cursor: pointer;
                            }
                        }
            
                        .no-image{
                            width: 100%;
                            border-radius: 8px;
                            aspect-ratio: 16/9;
                            background-color: #000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            p{
                                color: #fff;
                            }
                        }
                    }
        
                    p{
                        color: #fff;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}